h1 {
  color: rgba(2, 93, 140,0.9);
  color: rgb(2, 93, 140);
  font-family: 'Covered By Your Grace', sans-serif;
}

p {
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.7em;
  font-spacing: 1.3em;
  font-color: blue;
}
